body{
    margin: 0;
    background-color: #E5E5E5 !important;;
}
a{
 text-decoration: none !important;
}
*{
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    height: 100vh;
}

#menu-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 18px;
    left: 10px;
    z-index: 1;
    display: none;
    cursor: pointer;
}
#arrow-indicate-gesture{
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 20px;
    transform: translate(-50%);
}

@media screen and (max-width: 1000px) {
    #menu-icon{
        display: none !important;
    }
    .sidebar{
        display: none !important;
    }
}

#Saas-text{
    width: 69px;
    height: 26px;
    color: #109CF1;
    margin: 17px 0 17px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
}


.avatar-image{
    border-radius: 50%;
}
.user-name{
    color: #192A3E;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}
.user-email{
    color: #90A0B7;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 0;
}

.sidebar-links{
    margin-top: 15px;
}
.side-icon{
    margin-right: 13px;
    width: 20px;
    height: 20px;
    color: #334D6E; 
}
.sidebar-active-link{
    color: #109CF1;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}
.sidebar-link{
   color: #334D6E; 
   font-style: normal;
   font-weight: 500;
   font-size: 17px;
}
.on-hover-icon{
    display: none;
}
.sidebar-link:hover{
    color: #109CF1;
}
@media screen and (max-width: 1220px) {
    .sidebar-active-link,.sidebar-link{
        font-size: 13px;
    }
    .side-icon{
        margin-right: 13px;
        width: 15px;
        height: 15px;
    }
}

.toggle-box{
    position: absolute;
    bottom: 10px;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}
.toggle-icon{
    width: 14px;
    height: 14px;
}
.toggle-link{
    font-family: Poppins;
    font-style: normal;
    font-size: 13px;
    color: #90A0B7;
}

.global-search{
    padding: 0;
    background-color: #ffff;
}

.search-icon{
    padding: 20px 0 20px 0;
}
@media screen and (min-width: 720px) {
    .search-icon {
        padding: 20px 0 20px 36px;
    }
}
.search-text{
    display: block;
    padding: 20px 0 20px 0;
    color: #90A0B7;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
}
.not-icon{
    padding: 20px 0 20px 0;
}

@media screen and (min-width: 992px) {
    .info-section{
        margin-left: 36px !important;
    }
    .graphic-section{
        margin-left: 7px !important;
    }
    .graph-percent-container{
        margin-top: 0;
    }

    .graph-container{
        min-height: 340px;
    }

    .deals-section{
        position: absolute;
        top: 0;
    }
    .tasks-section{
        position: absolute;
        bottom: 0;
    }
    
    .content-container{
        margin-top: 36px;
    }
    .edit-icon,.remove-icon{
        margin-right: 6px;
    }
}
@media screen and (max-width: 990px) {
    .graphic-section{
        background-color: #fff;
    }
}
@media screen and (min-width: 1200px) {
    .sidebar-user-info{
        padding-left: 15px !important;
    }
}
@media screen and (min-width: 1600px) {
    .sidebar-user-info{
        padding-left: 0 !important;
    }
}
.info-section{
    margin-left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.tasks-text{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #334D6E;
}
.tasks-completed-info{
    margin-top: 15px;
}
.show-text{
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 0.01em;
    color: #334D6E;
}

.date-filter{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #2EA8F3;
}
.dividers{
    margin-top: 7px;
}
.green-divider{
    border-radius: 3px;
    background: #2ED47A;
    height: 4px;
}
.grey-divider{
    border-radius: 3px;
    background: #EBEFF2;
    height: 4px;
}
.date-container{
    margin-top: 10px;
}
.date{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #192A3E;
}
.week{
    margin-top: 15px;
    text-align: center;
}

.week-span{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #334D6E;
    opacity: 0.5;
}
.week-span:hover{
    color: #109CF1;
}

.today{
    background-color: #3498DB;
    border-radius: 45%;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: white;
    width: 32px;
    height: 18px;
    padding: 4px 4px 4px 4px;
}


.m-card{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
.m-card:hover{
    transform: scale(1.03);
}
.card-header-text-left{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;    
    color: #323C47;
}
.card-header-right{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #90A0B7;
}
.due-date{
    margin-top: 5px;
}
.due-date-text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4C5862;
    opacity: 0.5;
}
.due-date-date{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4C5862;
}
.user-info{
    padding-bottom: 15px;
    margin-top: 10px;
}

.user-info .user-image-card{
    border-radius: 50%;
}
.card-user-name{
    padding-left: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #707683;
}

.ended-btn{
    color: white !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    background-color: #F7685B !important;
}
.show-more-text{
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}
.user-info-icon{
    cursor: pointer;
}
.pointer-element{
    cursor: pointer;
}
.graphic-section{
    margin-left: 0;
}

.deals-text{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #192A3E;
}
.graph-image{
    margin-top: 10px;
}

.graph-container{
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.closed-deals-span{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #192A3E;
}
.user-info button{
    pointer-events: none;
}
.graph-percent-container{
    margin-top: 25px;
}
.graph-divider{
    height: 1px;
    background: #EBEFF2;
    width: 100%;
    opacity: 0.5;
}
.tasks-graph-text{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #192A3E;
}
.circle-cm {
    background-color: transparent;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid #2ED47A;
    box-sizing: border-box;
    display: inline-block;
}
.circle-ac {
    background-color: transparent;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid #FFB946;
    box-sizing: border-box;
    display: inline-block;
}
.circle-en {
    background-color: transparent;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 2px solid #F7685B;
    box-sizing: border-box;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .edit-icon {
      display: none;
    }
}
  @media screen and (max-width: 360px) {
    .user-info button{
        width: 70px;
        padding: 4px !important;
        font-size: .650rem;
    }
}
